.clr-blue {
  color: var(--mainColor)
}

.bg-blue {
  background-color: var(--mainColor)
}

.clr-light-blue {
  color: var(--lightBlue);
}

.bg-light-blue {
  background-color: var(--lightBlue);
}


.clr-gold {
  color: rgba(253, 199, 0, 1);
}


.clr-black {
  color: var(--colorBlack);
}

.bg-black {
  background-color: var(--colorBlack);
}

.clr-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.clr-gray {
  color: #4a5565;
}


.container {
  padding-left: 60px;
  padding-right: 60px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}


.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}


.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px
}




.r-4 {
  border-radius: 4px;
}

.r-8 {
  border-radius: 8px;
}

.r-circle {
  border-radius: 50%;
}

.shadow {
  box-shadow: 0 5px 8px #ddd;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-centerY {
  top: 50%;
  transform: translateY(-50%)
}


.fit-content {
  width: fit-content;
}



.f-13 {
  font-size: 13px;
}

.f-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.f-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}


.cursor-pointer {
  cursor: pointer;
}


@media(max-width: 900px) {
  .mobile-hidden {
    display: none;
  }

  .mobile-column {
    flex-direction: column;
  }

  .mobile-gap-8 {
    gap: 8px;
  }

}

@media(min-width: 900px) {
  .desktop-hidden {
    display: none;
  }

}